a {
  cursor: pointer;
}

h1 {
  padding-bottom: 30px;
}

li {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
}

.no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#context-menu {
  display: none;
}

#perspective {
  padding-top: 50px;
}
