a {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.header-menu li {
  float: left;
}

#context-menu {
  display: none;
}

#eko {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
